@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ValoFont';
    font-weight: 900;
    src: url(./Assets/Fonts/Valorant\ Font.ttf);
}


body{
    color: white;
}