@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ValoFont';
    font-weight: 900;
    src: url(./Assets/Fonts/Valorant\ Font.ttf);
}

@font-face {
    font-family: 'FJETT';
    font-weight: 900;
    src: url(./Assets/Fonts/JetBrainsMono-ExtraBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300&display=swap');


